.header_bottom{
    width:100%;
    height:60px;
    padding:0px 30px;

    background: rgb(32, 32, 32);
    color:white;
    font-size: 12px;

    display:flex;
    justify-content:space-between;
    align-items: center;
}

.header_bottom_panel_1{
    width:350px;
    display:flex;
    justify-content:space-between;
    align-items: center;
}
.header_bottom_panel_1 p{
    cursor: pointer;
}
.header_bottom_panel_1 p:hover{
    color: rgb(188, 236, 133);
}

.header_bottom_panel_2{
    width:80px;
    display:flex;
    justify-content:space-between;
    align-items: center;
}
.header_bottom_panel_2 p:nth-child(1){
    cursor: pointer;
}
.header_bottom_panel_2 p:nth-child(1):hover{
    color: rgb(188, 236, 133);
}
